<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ConexionBD"
             connectionString="Data Source=DESKTOP-GQP2SR2\SQLEXPRESS;Initial Catalog=Proyecto_Dos;Integrated Security=True"
             providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<!-- Configuración de compilación y framework -->
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />

		<!-- Configuración de autenticación y autorización -->
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" timeout="30" />
		</authentication>
		<authorization>
			<allow users="*" />
		</authorization>
	</system.web>

	<system.webServer>
		<!-- Configuración para habilitar el documento predeterminado -->
		<defaultDocument>
			<files>
				<add value="Default.aspx" />
			</files>
		</defaultDocument>

		<!-- Habilitar examen de directorios si es necesario -->
		<directoryBrowse enabled="false" />
	</system.webServer>
</configuration>
